<div class="center hero-unit">
  <h1>Breakfast Pub</h1>

  <h2>
    Currently blacked-out and useless... 9.3
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("mug.jpg", alt: "Brew-ha-ha"), 'http://rubyonrails.org/' %>


